body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3c1497;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #5d5bdb;
}

header p {
    color: #666666;
}

.about, .experience, .education {
    margin-bottom: 30px;
}

.about h2, .experience h2, .education h2 {
    color: #333;
}

.about p, .experience ul, .education ul {
    color: #666;
    line-height: 1.6;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: #666;
}




.images-container {
    display: flex; /* This will lay out its children (the images) horizontally */
    justify-content: center; /* This centers the images in the container */
    align-items: center; /* This centers the images vertically in case they are of different heights */
    gap: 20px; /* This adds some space between the two images */
}

.images-container img {
    width: 45%; /* Adjust based on your preference, ensuring they fit side by side */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Adds rounded corners to your images */
}



